<div class="container-fluid">
            <div class="row">
              <nav class=" d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/register-patient" routerLinkActive="active">
                        Ajouter un Patient
                      </a>
                    </li>
          
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/view-patient" routerLinkActive="active">
                        Liste des Patients
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
      
          <router-outlet><img src="assets/M.jpg" class="nodata-msg" alt="No student"></router-outlet>
  

